<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Client</title>

    <link rel="stylesheet" th:href="@{http://localhost:8080/css/bootstrap.min.css}">
</head>
<body>
        <div th:if="${client != null}">
            <form th:method="DELETE" th:action="@{/clients/{id}(id=${client.getId()})}" class="row g-3">
                <input type="submit" value="Delete"/>
            </form>
            <form th:method="GET" th:action="@{/clients/{id}/edit(id = ${client.getId()})}" class="row g-3">
                <input type="submit" value="Edit"/>
            </form>
        </div>
<script>
    var number = [[${client.getName()}]];
    var f = function() {
        alert("Something went wrong");
    };
    f();
    // var message = "[[${message}]]";
</script>
</body>
</html>