<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Client</title>

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
</head>
<body>

        <h1>Client</h1>
        <table>
            <thead>
            <tr>
                <th> Id </th>
                <th> Name </th>
                <th> Surname </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${client == null}">
                <td colspan="2"> No client with such id </td>
            </tr>
            <tr th:if="${client != null}">
                <td><span th:text="${client.getId()}"> Id </span></td>
                <td><span th:text="${client.getName()}"> Name </span></td>
                <td><span th:text="${client.getSurname()}"> Surname </span></td>
            </tr>
            </tbody>
        </table>
        <div>
            <form th:method="DELETE" th:action="@{/clients/{id}(id=${client.getId()})}" class="row g-3">
                <input type="submit" value="Delete"/>
            </form>
            <form th:method="GET" th:action="@{/clients/{id}/edit(id = ${client.getId()})}" class="row g-3">
                <input type="submit" value="Edit"/>
            </form>
        </div>

</body>
</html>