<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Contract</title>
    <link rel="stylesheet" th:href="@{http://localhost:8080/css/bootstrap.min.css}">
    <link rel="stylesheet" href="http://localhost:8080/css/contracts.css">
</head>
<body>


<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Surname </th>
    </tr>
    </thead>
    <tr th:if="${contract != null}">

        <td><span th:text="${contract.getId()}"> Id </span></td>
        <td><span th:text="${contract.getPhoneNumber()}"> Phone number </span></td>
        <td><span th:text="${contract.getClient().getName()}"> ClientName </span></td>
    </tr>
    </tbody>
</table>
<div th:if="${contract != null}">
    <form th:method="DELETE" th:action="@{/contracts/{id}(id=${contract.getId()})}" class="row g-3">
        <input type="submit" value="Delete"/>
    </form>
    <form th:method="GET" th:action="@{/contracts/{id}/edit(id = ${contract.getId()})}" class="row g-3">
        <input type="submit" value="Edit"/>
    </form>
</div>

</body>
</html>