<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:8080/css/contracts.css">
</head>

<body>
<div id="app">
    <header class="bd-header py-3 d-flex align-items-stretch">
        <div class="container-fluid d-flex align-items-center">
            <h1 class="d-flex align-items-center fs-4 text-white mb-0">
                <img th:src="@{http://localhost:8080/images/white_e.png}" width="50" height="50" class="me-3" alt="Bootstrap">
                eCare
            </h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="form-group">
                <input v-model="search" class="form-control" placeholder="Enter phone number">
            </div>
        </div>
        <div class="row">
        <div clsss="row" v-show="result.length !== 0" :key="result">
            <h5>Search results:</h5>
            <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th>ID</th>
                    <th>Phone number</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr  v-for="res in result" :key="res.id">
                    <td>{{res.id}}</td>
                    <td>{{res.phoneNumber}}</td>
                    <td>
                        <button class="btn submit my-button" v-on:click="redirectToEdit(res.id)">Edit</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="row">
            <h5>Contracts:</h5>
            <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th>ID</th>
                    <th>Phone number</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr  v-for="contract in contracts" :key="contract.id">
                    <td>{{contract.id}}</td>
                    <td>{{contract.phoneNumber}}</td>
                    <td>
                        <button class="btn submit my-button" v-on:click="redirectToEdit(contract.id)">Edit</button>
                    </td>
                    <td>
                        <button class="btn submit my-button" v-on:click="redirectToDelete(contract.id)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script type="text/javascript"  th:src="@{/scripts/contracts.js}"></script>
</body>
</html>