<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Contract</title>

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
</head>
<body>

<h1>Client</h1>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Surname </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${contract == null}">
        <td colspan="2"> No client with  requested id. </td>
    </tr>
    <tr th:if="${contract != null}">

        <td><span th:text="${contract.getId()}"> Id </span></td>
        <td><span th:text="${contract.getPhone_number()}"> Phone number </span></td>
        <td><span th:text="${contract.getClient().getName()}"> ClientName </span></td>
    </tr>
    </tbody>
</table>
<div th:if="${contract != null}">
    <form th:method="DELETE" th:action="@{/contracts/{id}(id=${contract.getId()})}" class="row g-3">
        <input type="submit" value="Delete"/>
    </form>
    <form th:method="GET" th:action="@{/contract/{id}/edit(id = ${contract.getId()})}" class="row g-3">
        <input type="submit" value="Edit"/>
    </form>
</div>

</body>
</html>