<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:8080/css/registration.css">
</head>
<body>
<header class="bd-header py-3 d-flex align-items-stretch">
    <div class="container-fluid d-flex align-items-center">
        <h1 class="d-flex align-items-center fs-4 text-white mb-0">
            <img th:src="@{http://localhost:8080/images/white_e.png}" width="50" height="50" class="me-3" alt="Bootstrap">
            eCare
        </h1>
    </div>
</header>
<div class="container">
<div class="row d-flex align-items-center justify-content-center">
    <h2>Are you sure you want to log out?</h2>
</div>
<form th:action="@{/doLogout}" method="post">
    <button class="btn btn-primary my-button" type="submit">Logout</button>
</form>

</div>
</body>
</html>