<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plans</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:8080/css/options.css">
</head>

<body>
<div id="app">
    <header class="bd-header py-3 d-flex align-items-stretch">
        <div class="container-fluid d-flex align-items-center">
            <h1 class="d-flex align-items-center fs-4 text-white mb-0">
                <img th:src="@{http://localhost:8080/images/white_e.png}" width="50" height="50" class="me-3" alt="Bootstrap">
                eCare
            </h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <button class="btn submit create-button" v-on:click="redirectToCreate()">Create new plan</button>
        </div>
        <div class="row">
            <h5>Plans:</h5>
            <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Price</th>

                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr  v-for="plan in plans" :key="plan.id">
                    <td v-show="plan.id">{{plan.id}}</td>
                    <td v-show="plan.id">{{plan.title}}</td>
                    <td v-show="plan.id">{{plan.price}}</td>

                    <td>
                        <button class="btn submit my-button" v-on:click="redirectToEdit(plan.id)">Edit</button>
                    </td>
                    <td>
                        <button class="btn submit my-button" v-on:click="deleteOption(plan.id)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script type="text/javascript"  th:src="@{/scripts/plans.js}"></script>
</body>
</html>