<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
<!--    <link rel="stylesheet" th:href="@{css/form.css}">-->
</head>
<body>
    <h4>Database was changed successfully!</h4>
    <form th:action="@{/clients}">
        <button>Back to clients list</button>
    </form>
</body>
</html>